.container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 10% auto;
}
.input {
  padding: 0.8rem;
  margin: 0.4rem;
  border: 0.1rem solid rgb(151, 148, 153);
  color: rgb(45, 45, 45);
  box-sizing: border-box;
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.8rem;
}
.error {
  color: red;
}
@media (min-width: 768px) {
  .input {
    width: 30%;
    margin: 0 auto;
  }
}
